<!DOCTYPE html>
<html>
<head>
	<title>Michael`s blog</title>
</head>
<body>
	<div>
		<h1><a href = "/">Django Michael</a></h1>
	</div>

	<div>
		<p>published: 15.01.2020, 22:22</p>
		<h2><a href = "/">My first post</a></h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum aliquam consectetur vehicula. Nulla sed blandit arcu.</p>
	</div>

	<div>
		<p>published: 15.01.2020, 22:25</p>
		<h2><a href = "/">My second post</a></h2>
		<p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
	</div>
</body>
</html>